<div class="stats_module">
  <h3><%= t('stats.tag_cloud_title') %></h3>
  <p><%= t('stats.tag_cloud_description') %></p>

  <%= render 'cloud_tags', cloud: cloud %>
</div>

<div class="stats_module">
  <h3><%= t('stats.tag_cloud_90days_title') %></h3>
  <p><%= t('stats.tag_cloud_90days_description') %></p>

  <%= render 'cloud_tags', cloud: cloud_90days %>
</div>
